extends common/overlay.pug

append overlayLeftRectangles
  div(class="line c-white line-white line-medium")
  section(class="overlay__rectangles")
    each rect_color in ['white', 'white', 'white']
      div(class="rectangle-" + rect_color)

append overlayRightRectangles
  section(class="overlay__rectangles")
    each rect_color in ['white', 'white']
      div(class="rectangle-" + rect_color)

append overlaySlider
  section(class="overlay__slider")
    each rect_color in ['white']
      div(class="rectangle-" + rect_color + " " + "overlay__slider__element")
    each circle_color in ['white', 'white', 'white', 'white is-active', 'white']
      div(class="circle-" + circle_color + " " +  "overlay__slider__element")
    each rect_color in ['white']
      div(class="rectangle-" + rect_color + " " + "overlay__slider__element")

block content
  div(class="grid-wrapper")
    - var brandsImages = assetsImages + "/brands"
    .section-name.ff-roboto
      .line.line-medium.line-white
      p brands
    section(class="brands__content")
      .brands__slider__container
        .brands__slider__elements
          .brands__slider__element
            img(src=brandsImages + "/kepka.png", alt="")
          .brands__slider__element
            img(src=brandsImages + "/kepka.png", alt="")
          .brands__slider__element
            img(src=brandsImages + "/kepka.png", alt="")
          .brands__slider__element
            img(src=brandsImages + "/kepka.png", alt="")
          .brands__slider__element
            img(src=brandsImages + "/kepka.png", alt="")
      .brands__button-left.rectangle-white
      .brands__button-right.rectangle-white
      .brands__content__inner
        .brands__content__inner-text
          | Lorem ipsum dolor sit amet
        .brands__content__inner-buttons
          .brands__content__inner-button
            | PRODUCT
          .brands__content__inner-button
            | MORE DETAILS
      .brands__slider
        each point in ['brands__slider__button is-active', 'brands__slider__button', 'brands__slider__button', 'brands__slider__button', 'brands__slider__button']
          div(class=point)
    .brands__categories.ff-roboto
      p GRAZ
      p GANT
      p G-start raw
      p DIESEL

